<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    {{#each pois}}
      <tr>
        <form action="/updatepoi/{{_id}}" method="POST" style="display:contents">
            <td>
            <input type="text" name="name" value="{{name}}" class="ui input" />
            </td>
            <td>
            <input type="text" name="description" value="{{description}}" class="ui input" />
            </td>
            <td>
            <input type="number" step="any" name="latitude" value="{{latitude}}" class="ui input" />
            </td>
            <td>
            <input type="number" step="any" name="longitude" value="{{longitude}}" class="ui input" />
            </td>
            <td>
            <button class="ui icon button" type="submit">
                <i class="fas fa-edit"></i>
            </button>
            </td>
        </form>

        <td>
            <a href="/deletepoi/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
            </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
